@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Lobster, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Open Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
   background-color: #E8EAF6;
}


/* header and navigation */

header, footer {
  color: white;
  background-color: #1A237E;
  margin: 0em 4em 0.25em 4em;
}
header h1 { 
  padding: 0.5rem 0 0 1.25rem;
  font-size: 2rem;
  font-weight: bold;
}
header p { 
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
  padding: 0 0 0 1.25rem;
}


/* main article styling */
main {
   background-color: white;
   margin: 1em 4em 1em 4em;
   padding: 1em;
}

section {
   margin-bottom: 1em;
   padding: 0;
   width: 100%;
}


legend { 
  font-size: 1.35rem;
  background-color: #7986CB;
  height: 1.70rem;
  color: #E8EAF6;
  text-transform: uppercase;
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

fieldset {
   margin: 0;
   padding: 0;
   background-color: #C5CAE9;
   width: 100%;
   border: none;
}
form p {
   margin-top: 0.5em;
}

#con  {
   background-color: #7986CB;
   margin-top: 1em;
   padding: 0;
   width: 100%;

}
.text{
   width: 95%;
 }
 #desc{
    padding: 14px, 20px;    
    width: 100%;
    box-sizing: border-box;
    height: 100px;
 }
 
 #rate{
    width: 10%;
 }
 .button {
   background-color: rgb(230, 69, 189); /* Green */
   border: none;
   color: white;
   padding: 11px 11px;
   text-align: center;
   text-decoration: none;
   
   font-size: 16px;
   border-radius: 12px;
 }
 .left 
{
    padding:0 12px 0 500px;
}
 
input[name="date_1"]{
   width: 30%;
}
input[name="time_1"]{
   width: 20%;
}
div[id="agree"]{
   display:flex;
   background-color: #7986CB;
   padding: 10px;
}
div[id="agree"] p{
   align-self: center;
   margin:0;
}
div[id="agree"] input, {
   align-self:center;
}
div[id="photo_properties"]{
   display:flex;
   margin-top: 1em;
}
div[id="photo"], div[id="date_time"]{
   width:50%;
}
div[id="photo_properties"] p{
   margin-top: 0.5em;
}
div[id="date_time"]{
   border: 1px white groove;
   padding: 0.5em;
}

nput[type="radio"], input[type="checkbox"]{
   margin-left: 1em;
}
input[name="city"],select{
   width: 60%;
}
input[name="rate"]{
   width: 8%;
}
div[id="loc-container"] {
 display: flex;
 
}
div[id="location"], div[id="copyright_info"] {
 width: 50%;
}

div[id="copyright"], div[id="creat"] {
   border: 1px white groove;
   margin-bottom: 0.5em;
   padding-bottom: 5px;
   padding-left: 10px;
}
table, td, tr{
   width: 100%;   
}



